[submodule "extensions-lab"]
	path = extensions-lab
	url = https://github.com/asciidoctor/asciidoctor-extensions-lab.git
[submodule "slide-templates"]
	path = slide-templates
	url = https://github.com/asciidocfx/asciidoctorjs-slide-templates.git
