[submodule "asciidoctor"]
	path = asciidoctor
	url = git@github.com:Mogztter/asciidoctor.git
[submodule "templates/asciidoctor/backends"]
	path = templates/asciidoctor/backends
	url = git@github.com:asciidoctor/asciidoctor-backends.git
