sudo: false
dist: trusty

language: node_js
addons:
  chrome: stable

env:
- ASCIIDOCTOR_CORE_VERSION=v1.5.7.1
- ASCIIDOCTOR_CORE_VERSION=master

cache:
  yarn: true

node_js:
- 'lts/*'
- 'node'

jdk:
- oraclejdk8

script:
- yarn run lint
- yarn run package
- yarn run docs
- SKIP_BUILD=1 yarn run examples

before_deploy:
- >
  if ! [ "$BEFORE_DEPLOY_RUN" ]; then
    export BEFORE_DEPLOY_RUN=1;
    yarn run dist;
    mkdir bin
    cd dist/;
    zip -r ../bin/asciidoctor.js.dist.zip .;
    tar -zcvf ../bin/asciidoctor.js.dist.tar.gz .;
    cd ..;
  fi

deploy:
- provider: npm
  skip_cleanup: true
  email: ${NPM_USER_EMAIL}
  api_key: ${NPM_USER_API_KEY}
  on:
    condition: '$ASCIIDOCTOR_CORE_VERSION = $ASCIIDOCTOR_CORE_VERSION_PUBLISH'
    tags: true
    repo: asciidoctor/asciidoctor.js
    node: node
- provider: releases
  api_key: ${GITHUB_TOKEN}
  file: bin/asciidoctor.js.dist.*
  skip_cleanup: true
  file_glob: true
  on:
    condition: '$ASCIIDOCTOR_CORE_VERSION = $ASCIIDOCTOR_CORE_VERSION_PUBLISH'
    repo: asciidoctor/asciidoctor.js
    tags: true
    node: node

# Trigger a deploy on asciidoctor/docs.asciidoctor.org
after_success:
- >
  if ! [ "$AFTER_SUCCESS_RUN" ]; then
    export AFTER_SUCCESS_RUN=1;
    curl -X POST -d '' "$NETLIFY_WEBHOOK_URL"
  fi
