name: Build Upstream

on: repository_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node 13.x
        uses: actions/setup-node@v1
        with:
          node-version: 13.x
      - name: Install dependencies
        run: |
          npm ci
          npm ci --prefix packages/core
      - name: Lint, build and test
        env:
          ASCIIDOCTOR_CORE_VERSION: master
        run: |
          npm run lint
          npm run test
          npm run travis --prefix packages/core
