name: Build Upstream

on: repository_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      # libgbm-dev is required by Puppeteer 3+
      - name: Install system dependencies
        run: |
          sudo apt-get install -y libgbm-dev
      - name: Install dependencies
        run: |
          npm ci
          npm ci --prefix packages/core
      - name: Lint, build and test
        env:
          ASCIIDOCTOR_CORE_VERSION: main
        run: |
          npm run lint
          npm run test
          npm run travis --prefix packages/core
