name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [12.x, 14.x]
        asciidoctor-core-version: [v2.0.15, master]
        experimental: [false]
        include:
          - node-version: 14.x
            os: macos-latest
            experimental: true
            asciidoctor-core-version: v2.0.15
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Node ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    # libgbm-dev is required by Puppeteer 3+
    - name: Install system dependencies
      run: |
        sudo apt-get install -y libgbm-dev
      if: ${{ runner.os == 'Linux' }}
    - name: Install dependencies
      run: |
        npm ci
        npm ci --prefix packages/core
    - name: Lint, build and test
      env:
        ASCIIDOCTOR_CORE_VERSION: ${{ matrix.asciidoctor-core-version }}
      run: |
        npm run lint
        npm run test
        npm run travis --prefix packages/core
  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version:
          - 12.x
          - 14.x
        asciidoctor-core-version: [v2.0.15, master]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm ci
          npm ci --prefix packages/core
      - name: Build
        env:
          ASCIIDOCTOR_CORE_VERSION: ${{ matrix.asciidoctor-core-version }}
        working-directory: ./packages/core
        run: node tasks/build.js
      - name: Test Build
        env:
          ASCIIDOCTOR_CORE_VERSION: ${{ matrix.asciidoctor-core-version }}
        working-directory: ./packages/core
        run: node tasks/test/unsupported-features.js
      - name: Test Node
        env:
          ASCIIDOCTOR_CORE_VERSION: ${{ matrix.asciidoctor-core-version }}
        working-directory: ./packages/core
        run: npm run test:node
      - name: Test Browser
        env:
          ASCIIDOCTOR_CORE_VERSION: ${{ matrix.asciidoctor-core-version }}
        working-directory: ./packages/core
        run: npm run test:browser
      - name: Examples Node
        env:
          ASCIIDOCTOR_CORE_VERSION: ${{ matrix.asciidoctor-core-version }}
        working-directory: ./packages/core
        run: npm run examples
